$color-primary: #55C57A;
$color-primary-light: #7ED56F;
$color-primary-dark: #28B485;
$color-grey-dark: #777;
$color-white: #FFF;
$color-black: #000;
$color-grey-light-1: #F7F7F7;

$color-secondary-light: #FFB900;
$color-secondary-dark: #FF7730;

$color-tertiary-light: #2998FF;
$color-tertiary-dark: #5643FA;

// GRID
$grid-width: 114em;
$gutter-vertical: 8em;
$gutter-horizontal: 6em;

// FONT
$default-font-size: 1.6rem;
