@import '../../assets/sass/abstracts/variables';

.section-about {
  background-color: $color-grey-light-1;
  padding: 25rem 0;
  margin-top: -20vh;
}



.paragraph {
  font-size: $default-font-size;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}

.composition {
    position: relative;
    z-index: 10;
    transition-property: all;
    transition-duration: .2s;

    &__photo  {
        width: 55%;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
        border-radius: 3px;
        position: absolute;
        outline-offset: 2rem;

        &--p1  {
            left: 0;
            top: -2rem;
        }

        &--p2  {
            right: 0;
            top: 2rem;
        }

        &--p3  {
            left: 20%;
            top: 10rem;
        }

        &:hover  {
            border-radius: 3px;
            outline-width: 1.5rem;
            outline-style: solid;
            outline-color: $color-primary;
            transform: scale(1.05) translateY(-.5rem);
            box-shadow: 0 2.5rem 4rem rgba($color-black, .5);
            z-index: 20;
        }
    }

    &:hover &__photo:not(:hover)  {
        transform: scale(.95);
    }
}
