<div class="popup" id="popup">
    <div class="popup__content">
        <div class="popup__left">
            <img src="assets/img/nat-8.jpg" alt="Tour photo" class="popup__img">
            <img src="assets/img/nat-9.jpg" alt="Tour photo" class="popup__img">
        </div>
        <div class="popup__right">
            <a class="popup__close" href="#section-tours">&times;</a>
            <h2 class="heading-secondary u-margin-bottom-small">Start booking now</h2>
            <h3 class="heading-tertiary u-margin-bottom-small">Important &ndash; Please red these terms before booking</h3>
            <p class="popup__text">Sit repellendus optio minima laudantium quasi, cupiditate ipsa. Ratione est quidem eaque voluptates soluta. Iusto hic exercitationem atque aliquam est? Laudantium perferendis ex nulla voluptate suscipit Quidem odit veniam aspernatur! Dolor itaque soluta debitis nihil doloremque ab Inventore natus enim quidem ipsam deleniti Aliquam distinctio vero officia neque saepe. Accusamus a aliquid magni architecto deserunt pariatur enim? Voluptatibus in reiciendis? Consectetur tempora beatae ullam et cumque Sunt harum pariatur expedita voluptates in Nisi recusandae perferendis qui similique error ullam modi, dolorum neque Iste autem at possimus esse vero? Fugiat cum?</p>
            <a class="btn btn--green" href="#">Book now</a>
        </div>
    </div>
</div>
