<section class="section-stories">
    <div class="u-center-text u-margin-bottom-big">
        <h2 class="heading-secondary">
            We make people genuinely happy
        </h2>
    </div>

    <div class="row">
        <div class="story">
            <figure class="story__shape">
                <img src="assets/img/nat-8.jpg" alt="Person on a tour" class="story__img">
            </figure>
            <div class="story__text">
                <h3 class="heading-tertiary u-margin-bottom-small">I had the best week ever witch my family</h3>
                <p>Dolor nesciunt nam rerum quasi tempora? Laborum a corrupti sed accusamus dolor necessitatibus minima odio esse? Suscipit vel a soluta vitae consectetur Ducimus atque voluptate aliquam maxime quibusdam Quidem excepturi?</p>
            </div>
        </div>
    </div>
</section>
