<section class="section-tours">
    <div class="u-center-text">
        <h2 class="heading-secondary u-margin-bottom-big">
            Most popular tours
        </h2>
    </div>
    <div class="row">

        <div class="col-1-of-3">
            <div class="card">
                <div class="card__side card__side--front">
                    FRONT
                </div>
                <div class="card__side card__side--back card__side--back-1">
                    BACK
                </div>
            </div>
        </div>

        <div class="col-1-of-3">
            <div class="card">
                nitai
            </div>
        </div>

        <div class="col-1-of-3">
            <div class="card">
                nitai
            </div>
        </div>
    </div>
</section>
